.nav {

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-content: space-around; */
  background-color: var(--fourth-bg-color);
  color: var(--text-color);
  width: 100%;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: .25rem;
}

.nav .nav-element{
  font-size: 2rem;
  padding: 20px;
}

.nav li.active {

  background-color: #466081;
}

.nav li:hover {
  
  background-color: #3170a3;
}

.nav .signout {
  background-color: rgb(116, 38, 38);
}