.container {
    display: flex;
    align-items: center;      /* This vertically centers the content */
    justify-content: center;  /* This horizontally centers the content */
    flex-direction: column;   /* This stacks the children vertically */
    height: 100%;            /* This takes the full height of the viewport */
}

.item-form {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid white;
    border-radius: 15px;
}

.item-form textarea {
    resize: vertical;

    background-color: var(--secondary-bg-color);
    color: var(--text-color);  
    border: none;
    border-bottom: 1px solid white;  
    outline: none;  
    margin: 10px;

    height: 80px;
}

.item-form .input-label {

    display: block;
    margin: 10px;
    border: none;
    width: 100px;
}
  
.item-form .input-field{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-color: var(--text-color);
}
  
  
.item-form .input-div {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: space-around; */
}

.item-form .button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: space-around; */
}