table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px; 
    table-layout: fixed;
}

thead {
    background-color: var(--border-color);
    position: relative; 
}

th {
    border: 1px solid #dddddd;
    color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--fourth-bg-color); 
    padding: 5px 10px; 
    height: 40px;
    overflow: hidden;
}

tbody {
    height: 100%;    
    overflow-y: auto;    
    display: block; 
    -ms-overflow-style: none;
}

tbody::-webkit-scrollbar {
    display: none;
}

tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    max-height: 80px;
    overflow: hidden;
}

td {
    border: 1px solid var(--fourth-bg-color);
    vertical-align: top;   
    padding: 5px 10px;
    height: 80px;
    overflow: hidden;
}

#description_cell {
      
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.selected {
    background-color: var(--selected-color);
    color: rgb(255, 255, 255);
}

tr:hover {
    background-color: rgb(226, 202, 178);
}

.table-container {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
